/* Extra large devices (large laptops and desktops, 1200px and down) */
@media only screen and (max-width: 1330px) {

  
  }
  
  
  
  
  /* Large devices (laptops/desktops, 1024px and down) */
  @media only screen and (max-width: 1024px) {
  
    .banner-title {
        font-size: 58px;
        line-height: 46px;
    }
    .banner-sub-title {
        padding-top: 0px;
        font-size: 21px;
    }
    .discrip {
        font-size: 19px;
        font-weight: 400;
    }
    .best-text {
        font-size: 12px;
    }
    .best-design-img {
        width: 98%;
    }
    .best-img::after {
        width: 1069px;
        height: 1233px;
        top: -60px;
        left: -150%;
        right: 0;
    }
    .best-design-img2 {
        width: 98%;
        margin-left: 0;
    }
    .best-img-2::after {
        width: 1069px;
        height: 1233px;
        left: -45px;
    }
    
.design2 {
    left: 122px;
    font-size: 17px;
}
.best-btn2 {
    margin-left: 136px;
}
.best-design3-img{
    width: 98%;
}
.design-3 {
    bottom: 107px;
    left: 121px;
    right: 0;
    font-size: 15px;
}
.best-btn3 {
    margin-left: 215px;
}
.call-text {
    font-size: 26px;
    margin-bottom: 26px;
}
.call-discription {
    font-size: inherit;
    width: 90%;
    margin-left: 44px;
}
.last-img {
    width: 90%;
    margin-top: 87px;
}
.carousel-inner {
    width: 84%;
    margin-left: 60px;
}
.carousel-indicators {
    z-index: 0 !important;
    overflow: hidden;
  }
  }
  
  
  /* small devices (phones, 768px and down) */
  @media only screen and (max-width: 768px) {
    .head-top {
        height: 562px;
    }
    .best-title {
        font-size: 31px;
        font-weight: bold;
    }
    .best-title::before {
        top: 10px;
    }
    .best-title::after {
        top: 10px;
    }
    .best-discription {
        font-size: 11px;
        line-height: 30px;
        margin-top: 32px;
    }
    .best-design-img {
        width: 42%;
        margin-top: 56px;
        margin-left: 238px;
      }
      .best-design-img2 {
        width: 46%;
        margin-left: 0;
      }
    .best-img::after {
        width: 768px;
        height: 1232px;
        top: -263px;
        left: -140%;
    }
    .design {
        font-size: small;
        margin-bottom: -7px;
        margin-left: 233px;
      }
    .best-btn {
        padding: 13px 30px;
        margin-top: 13px;
    }
    .best-img-2::after {
        width: 758px;
        left: 10px;
        top: 80px;
    }
    .design2 {
        left: 99px;
        font-size: 13px;
        margin-bottom: -8px;
    }
    .best-text1 {
        margin-top: 329px;
        font-size: small;
    }
    .best-btn2 {
        width: 95px;
        padding: 4px 0;
      }
    .best-text3 {
        margin-top: 202px;
        font-size: small;
    }
    .best-design3-img {
        width: 42%;
        margin-left: 31px;
      }
    .design-3 {
        bottom: 87px;
        left: 113px;
        font-size: 12px;
    }
    .best-btn3 {
        padding: 10px 26px;
        margin-top: 15px;
    }
    .clint-img {
        width: 116px;
        margin-top: 51px;
      }
      .carousel-indicators {
        z-index: 0 !important;
        overflow: hidden;
      }
  }
  
  
  
  
  
  
  /* Extra small devices (phones, 411px and down) */
  @media only screen and (max-width: 411px) {
    .banner-title {
        font-size: 20px;
        line-height: 0;
    }
    .head-top {
        height: 786px;
    }
    .banner-img-1 {
        width: 76%;
        margin-left: 43px;
        margin-top: 42px;
    }
    .best-text {
        font-size: 10px;
    }
    .best-img::after {
        width: 738px;
        height: 1006px;
        top: -301px;
        left: -79%;
    }
    .design {
        font-size: small;
        margin-bottom: -4px;
        margin-left: 82px;
    }
    .best-design-img {
        width: 70%;
        margin-left: 95px;
        margin-top: 40px;
    }
    .best-design-img2 {
        width: 73%;
        margin-left: 0;
        margin-top: 82px;
    }
    .best-img-2::after {
        width: 444px;
        left: -33px;
        top: 16px;
        height: 871px;
    }
    .design2 {
        left: 101px;
        font-size: 11px;
        margin-bottom: -8px;
    }
    .best-text1 {
        margin-top: 51px;
        font-size: small;
    }
    .best-text3 {
        margin-top: 47px;
        font-size: small;
    }
    .best-design3-img {
        margin-top: -44px;
        width: 80%;
        margin-left: 55px;
    }
    .design-3 {
        bottom: 87px;
        left: 153px;
        font-size: 12px;
    }
    .call-discription {
        font-size: inherit;
        width: 89%;
        margin-left: 31px;
    }
    .clint-title {
        font-size: 22px;
    }
    .clint-sub {
        font-size: 13px;
    }
    .clint-img {
        width: 70px;
        margin-left: 120px;
    }
    .clints-txt {
        width: 100%;
        margin-top: -30px;
        margin-right: 0px;      font-size: 12px;
    }
    hr {
        margin-top: 1rem;
    }
    .carousel-indicators {
        z-index: 0 !important;
        overflow: hidden;
      }
   }